body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

header {
    background-color: rgb(178, 215, 178);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.img-container {
    width: 25%;
    max-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.img-container img {
    max-width: 100%;
    max-height: 250px;
    /* object-fit: contain; */
    border-radius: 50%;
}

.text-container {
    width: 70%;
    text-align: center;
}

.text-container p {
    font-size: 1.2em; /* 19.2px */
}

header p {
    padding: 0 20px 0 20px;
    margin: 10px 0 10px 0;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px 0 10px 0;
}

h2 {
    font-size: 1.344em; /* 21.504px pour que le compétences ne déborde pas du div*/
    text-align: center;
}

.competences, .qualites, .passions, .parcours, .experiences {
    margin: 10px 0 10px 0;
    background-color: rgb(178, 215, 178);
}

.competences, .qualites, .passions {
    width: 45%;
}

.parcours, .experiences {
    width: 93.5%; /* Alligné avec les blocs compétences et qualités */
}

.parcours dt, .experiences dt {
    font-weight: bold;
    padding: 10px 10px 0 10px;
}

footer {
    background-color: rgb(178, 215, 178);
    text-align: center;
}

/* Header : Augmenter font-size pour écran plus grands mais OK jusqu'à tablette */
/* Centrer listes à partir de tablettes */
